@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "manrope", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(IMG-VIDEOS/IMG/Dev.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 60vh;
        display: flex; 
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin-left: 5%;
    width: 100px;
    height: 30px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display:block;
}

.menu .navbar ul li a:hover{
    color: aquamarine;
}


.menu-icon {
    width: 25px;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}



.header-conteiner {
    color: white;
}

.header-conteiner h1 {
    text-align: center;
    margin: 5%;
}

.header-conteiner p {
    text-align: center;
    margin: 5%;

    
}
.video {
    width: 500px;
    margin-right: 15px;
}

/* SECTION /*
*/ 


section {
    color: white;
    background-color: black;
    display: flex;
    margin: 0;
    padding: 5%;
}

section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    
    

}

section p  {
    text-align: center;
    margin-bottom: 5%;

}

#services {
    width: 45px;
    height: 45px;
    margin-right: 2%;    
}



.wwd {
    width: 100%;
    
}

#li {
    display: flex;
    justify-content: center;
}

.server-img {
    margin: 5%;
    width: 100%;
}

.section-2 {
    color: white;
    background-color: black;
    display: flex;
    margin: 0;
    padding: 5%;
}

.section-2 h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    
}

.section-2 p {
    text-align: center;
    margin-bottom: 5%;

}

#icon {
    width: 60px;
    height: 60px;
}

#contact {
   display: flex;
   justify-content: center;
   margin-bottom: 5%;
}

.code-img {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;

    
}

#code-img {
    width: 600px;
    height: 500px;
    padding: 0% 8% 0% 0%;

}


.section-3 {
    color: white;
    background-color: black;
   
    
}

#view {
    width: 60px;
    height: 60px;
    
     
}
.view {
    display: flex;
    justify-content: center;

}


.section-4 {
    color: white;
    background-color: black;
    display: flex;
    margin: 0;
    padding: 5%;
}

.philosophy{
    width: 100%;
    text-align: center;
}

.elevate {
    text-align: center;
    width: 100%;
}

#philosophy {
    margin-top: 5%;
    width: 500px;
    height: 500px;
}

.elevate h3{
    margin-bottom: 5%;
}

.elevate p {
    margin-bottom: 5%;
    font-size: 20px;
}

#arrow {
    width: 80px;
    height: 80px;
    display: flex;

}


.section-5 {
    color: white;
    background-color: black;
    margin: 0;
    
}
.section-5 h3{
    font-size: 25px;
    margin-left: 10%;
    margin-bottom: 2%;
}

.section-5 a{
    margin: 8%;
}
.section-5 a img{
    width: 100px;
}

.section-6 {
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    text-align: center;
}

.section-6 .WCU{
    margin-top: 5%;
}
.section-6 .WCU h3 {
    text-align: left;
    margin: 2% 2% 2% 20%;

}

.section-6 .WCU p{

    text-align:left;
    margin: 2% 10% 2% 20%;
    font-size: 20px;

     
}
.section-6 .NK{
    width: 100%;
    margin-top: 5%;
}

#servers {
    margin-top: 5%;
    width: 500px;
    height: 500px;
}

footer {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(IMG-VIDEOS/IMG/server-room-1376349_1280.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vh;
        color: white;
         
     
}

.footer-container {
    padding: 50px 0px 10px 0px;
    display: flex;
    justify-content: center;
    
}

.footer p{
    padding: 8px;
}

.Quick-Links li{
    padding: 5px;
}

.Learn-more li{
    padding: 5px;
}

.footer form{
    padding-bottom: 20px;  
}
.footer form input {
    border-radius: 1px;
    background: #24303c;
    padding: 5px;
    border: 1px solid #1f53c5;
}

.footer form button{
    background: #1f53c5;
    border: none;
    padding: 5px;
    color: whitesmoke;
    

}
.footer img {
    margin: 2%;
}

.footer {
    width: 25%;
    padding: 0 15px;
    text-align: center;

}

#Copyright {
    text-align: center;
    padding: 10px;
    
}

#redes { 
    width: 30px;
    background-color: rgb(89, 28, 28);

}



/* SERVICIOS */ 




